@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

*{
    font-family: "Kanit";
}

.carousel-item img {

    width: 100%;
    aspect-ratio: 640 / 150;
    object-fit: cover;
    object-position: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}
.nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1030;
    display: block;
    text-align: center;
    font-size: 1.5em;
}

a{
    text-decoration: none;
}
